/* Start */
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
}

button {
    font-family: inherit;
}

section {
    padding: 60px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* End */

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo:focus {
    color: #404bbf
}

.logo-accent {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: inline-block;
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-link:active {
    color: #404BBF;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-link-add {
    font-style: normal;
}

.contact-info {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.contact-info a:hover {
    color: #404bbf;
}

.contact-info a:focus {
    color: #404BBF;
}
/*END Header */

/* Section 1 Effective Solutions for Your Business */
.hero-section {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
}

.hero-title {
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.button-primary {
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;
}

.button-primary:focus {
    background-color: #404BBF;
}

.button-primary:hover {
    color: #fff;
    background-color: #404BBF;
}
/* End section 1 Effective Solutions for Your Business */

/* Section 2 Ways to achieve the goal */
.advantage-section {
    padding: 120px 0;
}

.advantage-list {
    display: flex;
    gap: 24px;
    padding: 0;
}

.advantage-item {
    flex-basis: calc((100% - 72px) / 4);
}

.advantage-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantage-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* End Section 2 Ways to achieve the goal */

/* Section 3 Our Team */
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.h-two {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.ourteam-ul {
    display: flex;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.ourteam-li {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.name-job {
    padding: 32px 0;
}
/* End Section 3 Our Team */

/* Section 4 Our Portfolio */
.ourportfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-li {
    width: calc((100% - 48px) / 3);
}

.category-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* End section 4 Our Portfolio */

/* Footer */
.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
    display: inline-block;
    align-items: center;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.logo-accent-foot {
    color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/* End footer*/